<!DOCTYPE html>
<html>
<head>
    <title>IP Geolocator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="js/constants.js" type="text/javascript"></script>
    <script src="js/lib/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="js/lib/underscore-min.js" type="text/javascript"></script>
    <script src="js/lib/backbone-min.js" type="text/javascript"></script>
    <script src="js/utils/LocalStorageProvider.js" type="text/javascript"></script>
    <script src="js/models/GeoLocation.js" type="text/javascript"></script>
    <script src="js/popup.js" type="text/javascript"></script>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="stylesheet" href="css/main.css"/>
    <style type="text/css">

        body {
            width: 500px;
            overflow: hidden;
        }

    </style>
</head>
<body class="gradient-bg">

<div class="content">
    <div id="ipLocationInfo">
        Loading...
    </div>
</div>

<div class="footer">
    <a href="https://play.google.com/store/apps/details?id=com.aykutcevik.ipgeolocator" target="_blank">
        <img alt="Android app on Google Play" src="img/en_app_rgb_wo_45.png"/>
    </a>

    <p>This application is still in development. Feel free to contribute at <a
            href="https://github.com/AykutCevik/Geolocate-IP-Browser-Extension" target="_blank">Github</a>.</p>
</div>

<script type="text/html" id="ipGeoLocationView">
    <table class="ip-infos">
        <tr>
            <td>
                <small>IP:</small>
            </td>
            <td>
                <small><%- geolocation.ip %></small>
            </td>
        </tr>
        <% if(geolocation.ip_forwarded_for != false) { %>
        <tr>
            <td>
                <small>Real IP (sent with the 'X-Forwarded-For' header):</small>
            </td>
            <td>
                <small><%- geolocation.ip_forwarded_for %></small>
            </td>
        </tr>
        <% } %>
        <tr>
            <td>
                <small>Country:</small>
            </td>
            <% if(geolocation.country_code != '') { %>
            <td>
                <small><%- geolocation.country_name %> (<%- geolocation.country_code %>)</small>
            </td>
            <% } else { %>
            <td>
                <small>-</small>
            </td>
            <% } %>
        </tr>
        <tr>
            <td>
                <small>City:</small>
            </td>
            <% if(geolocation.region != '') { %>
            <td>
                <small><%- geolocation.city %> (<%- geolocation.region %>)</small>
            </td>
            <% } else { %>
            <td>
                <small>-</small>
            </td>
            <% } %>
        </tr>
        <tr>
            <td>
                <small>User agent:</small>
            </td>
            <% if(geolocation.user_agent != '') { %>
            <td>
                <small><%- geolocation.user_agent %></small>
            </td>
            <% } else { %>
            <td>
                <small>-</small>
            </td>
            <% } %>
        </tr>
    </table>
    <div class="external-link">
        <%
        var mapsZoom = '8';
        var lp = new LocalStorageProvider();
        var showGMaps = lp.isSet(KEY_SETTINGS_GMAPS) ? lp.get(KEY_SETTINGS_GMAPS) : true;
        if(geolocation.region != '') {
        mapsZoom = '12';
        } %>
        <a href="https://www.google.com/maps/preview/@<%- geolocation.latitude %>,<%- geolocation.longitude %>,<%- mapsZoom %>z" target="_blank">
            <% if(showGMaps) { %>
            <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%- geolocation.latitude %> <%- geolocation.longitude %>&zoom=<%- mapsZoom %>&size=500x300&maptype=roadmap"
                 style="border: 1px solid #000;" width="500" height="300"/>
            <% } else { %>
            Show my IP location on Google Maps
            <% } %>
        </a><br/>
        <small><a href="https://dnsleaktest.com/" target="_blank">Check for DNS leaks</a></small>
    </div>
</script>

</body>
</html>
